/**
 * @file json.css
 *
 * Simple styles for the json module to use when pretty-printing json.
 */
.text-json .string { color: #6c98cc; }
.text-json .number { color: #44a19e; }
.text-json .boolean { color: #56584D; }
.text-json .null { color: #261714; }
.text-json .key { color: #40488D; }

